{% extends "./base.html" %}
{% load static %}
{% block title %} Gestion de Clientes {% endblock %}
{% block body %}

<!-- todo lo que este dentro de aqui se reemplazara en las plantillas hijas -->
    <div class="row" style="padding-top: 50px; padding-bottom: 20px; box-shadow: 0px 0px 3px #848484;  background-color: #3b4652;
    opacity: .85; border-radius: 5%; margin-top: 100px;" >
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4" >
            <h2 style="padding: 20px; color: beige;">Registrar Cliente</h2>
            <div class="card" style="box-shadow: 0px 0px 3px #848484;  background-color: #3b4652;
            opacity: .999999; border: none;">
                <div class="card-body">
                    <form action="registrar/" method="POST"> {% csrf_token %}  <!--nos protege de daños de otros usuarios -->
                        <div class="form-group">
                            <input type="text" id="txtRut" name="txtRut" class="form-control" placeholder="Rut" minlength="9" maxlength="10" required style="padding: 7px; margin-bottom: 15px;"> 
                            <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre"  maxlength="50" required style="padding: 7px; margin-bottom: 15px;">
                            <input type="text" id="txtApellidoP" name="txtApellidoP" class="form-control" placeholder="Apellido Paterno"  maxlength="50" required style="padding: 7px; margin-bottom: 15px;">
                            <input type="text" id="txtApellidoM" name="txtApellidoM" class="form-control" placeholder="Apellido Materno"  maxlength="50" required style="padding: 7px; margin-bottom: 50px;">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block text-white" style="margin-left: 0px; padding-left: 100px; padding-right: 100px; ">Guardar</button>

                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <div class="table-responsive py-2" ></div>
            <h1 style="padding-bottom: 20px; color: beige;">Listado Clientes</h1>
                <table class="table table" style="color: beige;" >
                    <thead>
                        <tr>
                            <th>Rut</th>
                            <th>Nombre</th>
                            <th>Apellido Paterno</th>
                            <th>Apellido Materno</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes%}
                        <tr>
                            <td> {{cliente.rut}} </td>
                            <td> {{cliente.nombre}} </td> 
                            <td >{{cliente.apellido_paterno}} </td> 
                            <td> {{cliente.apellido_materno}} </td> 
                            <td><a href="edicion/{{cliente.rut}}" class="btn btn-info">Editar</a></td>
                            <td><a href="eliminar/{{cliente.rut}}" class="btn btn-danger">Eliminar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
                <button type="button" role="button" style="margin-left: 500px; width: 200px; height: 40px;"  >
                    <a role="button" href="{% url 'Inicio' %}" style="text-decoration: none; color: black; ">Volver a Inicio</a>
                </button>
        </div>
     
        
    </div>

{% endblock %}




































 